# Streamlit and related visualization tools
streamlit==1.39.0
streamlit-chat==0.1.1
matplotlib==3.9.2
seaborn==0.13.2

# Azure SDKs (Validated for compatibility)
azure-ai-ml==1.15.0
azure-identity==1.15.0

# Semantic Kernel and its dependencies
semantic-kernel==1.5.1
httpx==0.27.0

# General utilities
requests==2.32.3
python-dotenv==1.0.1
pandas==2.2.2
pydantic==2.8.2
pyarrow==17.0.0
aiohttp==3.9.5
backoff==2.2.1
PyPDF2==3.0.1
Jinja2==3.1.4
PyMuPDF==1.24.9
marshmallow<3.24.0
